<div class="web-uploader">
  <div class="file-uploader">
    <input type="file" (change)="onFileSelected($event)" accept=".txt" />
    
  </div>

 <div class="words-web-dis">

  <div class="dis-content">
    {{uploadedText||'There no text to display'}}
  </div>

  <div class="word-counter">
    <h2>Word Frequency</h2>
    <div>
      <ng-container *ngFor="let entry of wordFrequency | keyvalue">
        <p><span class="word">{{ entry.key }}</span> =>repeated  <span class="count">{{ entry.value }}</span></p>
      </ng-container>
    </div>
  </div>

 </div>

</div>